body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    height: 100%;
    background-image: url('bgy.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.table {
    display: flex;
    height: 340px;
    width: 340px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    justify-content: space-around;
}

#btn {
    height: 110px;
    width: 110px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
}

#btn:hover {
    background-color: rgb(207, 207, 207);
    cursor: pointer;
}

#btn:disabled {
    color: rgb(2,0,21);
    background-color: rgb(207, 207, 207);
    border-width: 3.2px;
    border-color: rgb(2,0,21);
    outline: none !important;
}

#reset {
    display: block;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100px;
    border-width: 0px;
    background-color: rgb(105, 184, 253);
    border-radius: 10px;
    color: rgb(2,0,21);
    font-weight: 900;
    font-family: system-ui;
    font-size: 18px;
}

#reset:hover {
    background-color: rgb(255, 250, 107);
    color: black;
    outline: none !important;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

span {
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; 
}

h1 {
    font-size: 40px;
    color: white;
    margin-top: 0px;
    cursor: default;
}

.selection {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 30px;
    padding-bottom: 0;
}

#xo {
    background-color: rgba(240,240,240, 0);
    color: white;
    border-width: 1.5px;
    border-color: transparent;
    height: 75px;
    width: 75px;
    font-size: 70px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    
}

#xo:hover {
    color: rgb(255, 250, 107);
    cursor: pointer;
}

#outerVs {
    display: flex;
    align-items: center;
}

#vs {
    font-weight: 900;
    font-size: 30px;
    color: rgb(93, 82, 255);
    cursor: default;
}


#line {
    margin-left: auto;
    margin-right: auto;
    color: white;
    cursor: default;
    margin-top: 0;
}

#question {
    height: 340px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    font-size: 125px;
    color: rgb(2,0,21);
}